DATABASE_URL=
BOT_TOKEN=
WEATHER_API_KEY=
CHAT_ID=
ADMIN_CHAT_ID=
ADMIN_IDS=[123, 456]
REACTIONS=["👍", "🔥", "❤️"]
SEMESTER_START=2024-09-01
CHAT_LINK=https://t.me/...
TIMEZONE=Europe/London
BANNED_BY_ID=[]
